<h3>User Login</h3>
<br>
<div class="login-message">
  <h4 *ngIf="user | async">Logged in as: <span class="highlight-email">{{ (user | async)?.email }}</span></h4>
  <button *ngIf="user | async" class="red-logout" (click)="logout()">Logout</button>
</div>

<div *ngIf="(user | async) == null">
  <span id="login-warning">please login</span>
  <input type="email" #email placeholder="Email">
  <input type="password" #password placeholder="Password">
  <button (click)="login(email.value, password.value)">Login</button>
</div>
<br>
<app-admin *ngIf="user | async"></app-admin>
