span {
  display: inline-block;
  letter-spacing: 2px;
  white-space: pre;
}

.letter {
  display: inline-block;
}

#wrapper {
  margin: 30px auto 0 auto;
  width: 700px;
}

.enter:after {
  content: "enter";
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 10px;
}

.typing-text {
  font-size: 20px;
  display: block;
}

.failureHighlight {
  background-color: red;
}

#text {
  display: block;
}

#caps-lock {
  margin: 20px 0;
  color: red;
}

#progress-bar {
  margin: 0 auto;
  border: 1px solid #000;
  width: 65%;
  height: 25px;
}

#bar-fill {
  height: 100%;
  background-color: #a3e4a3;
  width:50%;
}

.failed-letter {
  color: red;
  font-size: 22px;
}



circle {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
