


<div class="main">
  <div id="progress-bar">
    <div [style.width]="progress + '%'" id="bar-fill">
    </div>
  </div>
  <div class="mac-bar">
    <div id="buttons">
      <div class="red"></div>
      <div class="yellow"></div>
      <div class="green"></div>
    </div>
  </div>
  <div class="tab-bar">
    <div class="tab">
      <img src="assets/{{language}}.png">
      {{language}} - level: {{level}}
    </div>
  </div>
  <div id="wrapper" class="well">
    <div *ngFor="let line of displayArray; let lineIndex = index" [ngClass]="{'enter': (successArray[currentLine].length === charsArray[currentLine].length && lineIndex === currentLine)}" class="line" [style.content]='lineIndex'>
      <span class=line-number>{{lineIndex + 1}}</span>
      <div *ngFor="let char of line; let index = index" class="letter">
        <div *ngIf="currentLine === lineIndex">
          <div *ngIf="index === successArray[currentLine].length">
            <span [ngStyle]="{'background-color':' '+hightlightColor}">{{char}}</span>
          </div>
          <div *ngIf="index !== successArray[currentLine].length">
            <span>{{char}}</span>
          </div>
        </div>
        <div *ngIf="currentLine !== lineIndex">
          <span>{{char}}</span>
        </div>
      </div>
    </div>

    <div id="stats" *ngIf="levelComplete === true">
      <h1>Results</h1>
      <h3>Accuracy: {{accuracy.toFixed(2)}}%</h3>
      <h3>Time: {{roundTime.toFixed(2)}} seconds</h3>
      <h3>Characters Per Minute: {{roundCPM.toFixed(0)}}</h3>
      <ul>
        <li *ngFor="let entry of failureStats | keys">
          You missed the character <span class="failed-letter">{{entry.key}}</span> {{entry.value}} {{entry.amount}}
        </li> 
      </ul>
      <a *ngIf="language === 'javascript'" class="btn btn-success" (click)="nextLevelJavascript()">Next Level</a>
      <a *ngIf="language === 'ruby'" class="btn btn-success" (click)="nextLevelRuby()">Next Level</a>
    </div>
  </div>
</div>
<div id="caps-lock" *ngIf="capsLock">
  <h1>Caps-Lock is on!</h1>
</div>

<br>
<!-- <button *ngIf="startJavascriptButton" (click)="startJavascript()" class="btn btn-primary">Type Javascript</button>

<button *ngIf="startRubyButton" (click)="startRuby()" class="btn btn-danger">Type Ruby</button> -->

<svg width="1000" height="200" id="circles"></svg>


<div class="center-pie-chart">
  <div class="pie-chart"></div>
</div>
