

<div class="typing-text">
  <div id="progress-bar">
    <div [style.width]="progress + '%'" id="bar-fill">
    </div>
  </div>
  <div id="stats">
    <h1>Accuracy: {{accuracy.toFixed(2)}}%</h1>
  </div>
  <div id="wrapper">
      <div *ngFor="let char of displayArray; let index = index" class="letter">
        <div *ngIf="index == successArray.length">
          <span [ngStyle]="{'background-color':' '+hightlightColor}">{{char}}</span>
        </div>
        <div *ngIf="index !== successArray.length">
          <span>{{char}}</span>
        </div>
      </div>
  </div>
</div>
<div id="caps-lock" *ngIf="capsLock">
  <h1>Caps-Lock is on!</h1>
</div>
